body {
  font-family: sans-serif;
  margin: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  color: #333;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  color: darkblue;
  text-align: center;
  padding: 20px 0;
  /*background-color: rgba(0, 0, 0, 0.1); added a semi transparent black to header*/
}

.motto {
  font-style: italic;
  color: darkblue;
  margin-top: 10px;
  
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.content-section {
  padding: 20px;
  margin-bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.4); /*adding a light color to content sections*/
}

.trip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.trip-item {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-images img {
  max-width: 200px;
  height: auto;
  filter: brightness(1.1); /* Slightly brighten the images */
  border-radius: 8px; /* Optional: Rounded corners for images */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);/*optinal: add a shadow to the images*/
}

footer {
  text-align: center;
  padding: 5px 0;
 
}
/* Media query for mobile devices (screen width 768px or less) */
@media (max-width: 768px) {
    .content-grid {
        grid-template-columns: 1fr; /* Single column on mobile */
    }

    main {
        width: 95%; /* Adjust width for mobile */
    }

    .gallery-images img {
        max-width: 100%; /* Make images take full width on mobile */
    }

}
table {
  width: 100%; /* Tabuľka sa roztiahne na celú šírku kontajnera */
  border-collapse: collapse; /* Zlúči okraje buniek */
  margin-bottom: 10px; /* Pridá medzeru pod tabuľku */
}

th, td {
  border: 1px solid #ddd; /* Pridá okraje buniek */
  padding: 8px; /* Pridá vnútorné odsadenie buniek */
  text-align: left; /* Zarovná text v bunkách doľava */
  background-color: aliceblue;
}


th {
  background-color: lightblue; /* Pridá svetlosivé pozadie pre hlavičku tabuľky */
  font-weight: bold; /* Tučné písmo pre hlavičku tabuľky */
}

table, th, td {
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
}
