body {
  font-family: sans-serif;
  margin: 0;
  padding-top: 5px;
  padding:10px;
  background-color: #ABB2B9;
}
.split {
  max-width: 75%;
}

.button1 {
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}
.button2 {
  background-color: darkred;
  color: white;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

header {
  text-align: center;
  padding: 20px 0;
}
#hide1, #hide2 {
    display: none;
}

.motto {
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;  
}

main {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.content-section {
  padding: 10px;
  margin-bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4); /*adding a light color to content sections*/
}

.trip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.trip-item {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.whatsappButton{
  color: white;
  background-color: darkgrey;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  border: 0;
}
.whatsappButton:hover{
  transition: scale(1.1);
}


.gallery-images img {
  max-width: 200px;
  height: auto;
  filter: brightness(1.1); /* Slightly brighten the images */
  border-radius: 8px; /* Optional: Rounded corners for images */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);/*optinal: add a shadow to the images*/
}

footer {
  text-align: center;
  padding: 5px 0;
  background-color: aliceblue;
  border-radius: 10px;
}

@media (max-width: 768px) {
    .content-grid {
        grid-template-columns: 1fr;
    }
    .menu {
                display: none;
                flex-direction: column;
                background-color: aliceblue;
                position: absolute;
                top: 60px;
                width: 95%;
                cursor: pointer;
                margin-right: 10px;
            }
      
    .menu-toggle {
                display: block;
            }
    main {
        width: 95%; /* Adjust width for mobile */
    }
}

table {
  width: 100%; /* Tabuľka sa roztiahne na celú šírku kontajnera */
  border-collapse: collapse; /* Zlúči okraje buniek */
  margin-bottom: 8px; /* Pridá medzeru pod tabuľku */
}

th, td {
  border: 1px solid #ddd; 
  padding: 8px;
  text-align: center; 
  background-color: aliceblue;
}


th {
  background-color: lightblue; /* Pridá svetlosivé pozadie pre hlavičku tabuľky */
  font-weight: bold; /* Tučné písmo pre hlavičku tabuľky */
}

table, th, td {
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
}

nav {       background-color: aliceblue;
            padding: 10px;
            position: fixed;
            top: 5px;
            right: 5px;
            z-index: 1000;
          max-width: 25%;
          border-radius:10px;
    }

nav a {
  color: black;
}
